@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.otf') format('opentype');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
    font-size: 14px;
}

body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    align-content: center;
}

#background-photo {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    width: 40%;
    height: 1000px;
}

#background-photo > img {
    margin: 0;
    padding: 0;
    height: 1000px;
}

.photo-caption {
    color: white;
    position: relative;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.photo-caption a {
    color: white;
}

#odin-banner {
    display: flex;
    flex-flow: row;
    position: absolute;
    top: 200px;
    width: 100%;
    background-color: rgba(14, 13, 13, 0.541);
    align-content: center;
    justify-content: center;
    padding: 10px 0;
}

#odin-banner p {
    margin: auto 0;
    font-family: 'Norse-Bold';
    color: white;
    font-size: 6rem;
}

#odin-banner img {
    height: 130px;
}

#form-content {
    background-color: #F9FAFB;
    z-index: 1;
    align-content: center;
    height: 1000px;
    width: 60%;
}

#form-content > h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
}

#form-content h1:first-of-type {
    margin-bottom: 0;
}

#form-content h1:nth-of-type(2) {
    margin-top: 0;
}


fieldset {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    font-size: 1rem;
}

input {
    font-size: 1.2rem;
    border: solid #E5E7EB;
    border-width: 1px;
    border-radius: 2px;
    height: 2rem;
} 

input:focus {
    outline: none !important;
    border: 1px solid #1D4ED8;
    box-shadow: 5px 5px 5px #DADBDC;
}

input:required:invalid {
    outline: none !important;
    border: 1px solid #B91C1C;
}

label {
    position: relative;
}

.form-col {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 60px;
}

#form-background {
    background-color: white;
    box-shadow: 5px 5px 5px #DADBDC;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 40px;
}

#form-background h1 {
    padding-bottom: 20px;
}

#form-background > h1, #form-background > fieldset {
    margin-left: 50px;
    justify-content: start;
}

h1 {
    font-size: 1.7rem;
}

#main-form {
    color: #1F2937;
}

button {
    background-color: #596D48;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 20px 60px;
    margin-left: 50px;
    box-shadow: 5px 5px 5px #DADBDC;
}

#main-form p {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1.3rem;
}

#main-form > p > a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

.error-mess {
    font-size: .8rem;
    color: #B91C1C;
}

@media (min-width: 1665px) {
    #background-photo {
        width: 666px;
    }
}

@media (max-width: 1000px) {
    
    #form-content {
        width: 1000px;
    }
    
}